h1{
     color: black;
     padding-top: 10px;
     text-align: right;
     font-family: cursive;
     margin: 0px;
     padding-right: 150px;
}
h2{
    font-family: cursive;
    font-size: 30px;
    text-align: left;
    color: grey;
    padding-left: 50px;
    padding-top: 100px;
}
p.one{
    color:grey;
    font-family: monospace;
    margin: 2px;
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
}
p.under{
    padding-bottom: 30px;
    background-size: 20% 2px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#404240, #404240);
    background-position: bottom left;
    margin-left: 52px;
}
.pad{
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    color:grey;
    margin: 0px;
}
.background{
    background-image: url(image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px;
    height: 500px;
}
h3{
    font-family: cursive;
    color: black;
    font-size: 28px;
    text-align: center;
    margin: 10px;
}
p.two{
    color:black;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    margin: 0px;
}
.button1{
    padding: 5px 30px;
    font-size: 20px;
    border: 2px solid grey;
    color:grey;
    position:bottom;
    transform: translate(26%, 23%);
    font-family: monospace;  
    background-color: black;

}
.button2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 5px 30px;
    font-size: 20px;
    font-family: monospace;
    top: 760px;
}
.button1:hover{
    background-color: grey;
    color: black;
}
.button2:hover {
    background-color: grey;
    color: black;
  }
h4{
    font-family: cursive;
    text-align: center;
    font-size: 20px;
    margin: 0px;  
    color: grey;
    
}
.column{
    float: left;
    text-align: center;
    padding-top: 35px;
    width: 33.33%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.background2{
    background-image: url(bb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px;
    margin-top: 70px;
    height: 400px;
    
}
p.three{
    color:grey;
    font-family: monospace;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}
img.pad{
    padding-top: 20px;
    background-image: linear-gradient(#404240, #404240);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: top ;
}
h5{
    padding-top: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    margin: 0px;
}
p.four{
    text-align: center;
    font-family: monospace;
    color:black;
    font-size: 20px;
    margin: 0px;
}
.stylefour{
    background-image: linear-gradient(#404240, #404240);
    background-repeat: no-repeat;
    background-size: 26.5% 2px;
    background-position: bottom;
    padding-bottom: 20px;

}
h6{
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    margin: 0px;
 
}
div.colcenter{
    text-align: center;
    padding-top: 10px;
}
div.position{
    padding-left: 560px;
    padding-right: 560px;
}